**/.DS_Store
**/.git
**/*.booproj
**/*.csproj
**/*.pidb
**/*.sln
**/*.suo
**/*.unityproj
**/*.user
**/*.userprefs
arengine/aab_*
arengine/apk_*
arengine/ios_*
arengine/build/
arengine/Build/
arengine/library/
arengine/Library/
arengine/obj/
arengine/Obj/
arengine/temp/
arengine/Temp/
Resources.meta
arengine/Assets/DownloadObbExample.cs*
arengine/Assets/README.txt*
arengine/QCAR
arengine/Assets/ARGames/ARGameList.txt*
arengine/Assets/Plugins*
arengine/Assets/Vuforia*
